In [ ]:
# Imports
import pandas as pd 
import numpy as np
import re

In [ ]:


# Read the CSV file
file_path = r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings.csv"

try:
    df = pd.read_csv(file_path)

    # Basic Information
    print("1. Total Number of Rows:", len(df))
    print("2. Total Number of Columns:", len(df.columns))
    print("3. Column Names:", df.columns.tolist())
    print("\n4. Missing Values:")
    print(df.isnull().sum())
    print("\n5. Summary Statistics for Numerical Columns:")
    print(df.describe())
    print("\n6. Total Number of Inputs (Grid):", len(df) * len(df.columns))

except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

1. Total Number of Rows: 123849
2. Total Number of Columns: 31
3. Column Names: ['job_id', 'company_name', 'title', 'description', 'max_salary', 'pay_period', 'location', 'company_id', 'views', 'med_salary', 'min_salary', 'formatted_work_type', 'applies', 'original_listed_time', 'remote_allowed', 'job_posting_url', 'application_url', 'application_type', 'expiry', 'closed_time', 'formatted_experience_level', 'skills_desc', 'listed_time', 'posting_domain', 'sponsored', 'work_type', 'currency', 'compensation_type', 'normalized_salary', 'zip_code', 'fips']

4. Missing Values:
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

5. Summary Statistics for Numerical Columns:
             job_id    max_salary    company_id          views     med_salary  \
count  1.238490e+05  2.979300e+04  1.221320e+05  122160.000000    6280.000000
mean   3.896402e+09  9.193942e+04  1.220401e+07      14.618247   22015.619876
std    8.404355e+07  7.011101e+05  2.554143e+07      85.903598   52255.873846
min    9.217160e+05  1.000000e+00  1.009000e+03       1.000000       0.000000
25%    3.894587e+09  4.828000e+01  1.435200e+04       3.000000      18.940000
50%    3.901998e+09  8.000000e+04  2.269650e+05       4.000000      25.500000
75%    3.904707e+09  1.400000e+05  8.047188e+06       8.000000    2510.500000
max    3.906267e+09  1.200000e+08  1.034730e+08    9975.000000  750000.000000

         min_salary       applies  original_listed_time  remote_allowed  \
count  2.979300e+04  23320.000000          1.238490e+05         15246.0
mean   6.491085e+04     10.591981          1.713152e+12             1.0
std    4.959738e+05     29.047395          4.848209e+08             0.0
min    1.000000e+00      1.000000          1.701811e+12             1.0
25%    3.700000e+01      1.000000          1.712863e+12             1.0
50%    6.000000e+04      3.000000          1.713395e+12             1.0
75%    1.000000e+05      8.000000          1.713478e+12             1.0
max    8.500000e+07    967.000000          1.713573e+12             1.0

             expiry   closed_time   listed_time  sponsored  normalized_salary  \
count  1.238490e+05  1.073000e+03  1.238490e+05   123849.0       3.607300e+04
mean   1.716213e+12  1.712928e+12  1.713204e+12        0.0       2.053270e+05
std    2.321394e+09  3.622893e+08  3.989122e+08        0.0       5.097627e+06
min    1.712903e+12  1.712346e+12  1.711317e+12        0.0       0.000000e+00
25%    1.715481e+12  1.712670e+12  1.712886e+12        0.0       5.200000e+04
50%    1.716042e+12  1.712670e+12  1.713408e+12        0.0       8.150000e+04
75%    1.716088e+12  1.713283e+12  1.713484e+12        0.0       1.250000e+05
max    1.729125e+12  1.713562e+12  1.713573e+12        0.0       5.356000e+08

            zip_code          fips
count  102977.000000  96434.000000
mean    50400.491887  28713.879887
std     30252.232515  16015.929825
min      1001.000000   1003.000000
25%     24112.000000  13121.000000
50%     48059.000000  29183.000000
75%     78201.000000  42077.000000
max     99901.000000  56045.000000

6. Total Number of Inputs (Grid): 3839319

In [ ]:


# Function to clean invalid characters
def remove_illegal_chars(value):
    if isinstance(value, str):  # Apply only to text fields
        return re.sub(r"[\x00-\x1F\x7F]", "", value)  # Remove ASCII control characters
    return value

# Read the file
file_path = r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings.csv"
output_path = r"C:\Users\Sarah\Code\ProyectoABD\linkedindata"

try:
    df = pd.read_csv(file_path)

    # Clean invalid characters in all data
    df = df.map(remove_illegal_chars)

    # Calculate the number of rows in each chunk
    num_rows = len(df)
    chunk_size = num_rows // 4  # Split into 4 equal parts

    # Split the data into 4 parts and save each as a separate Excel file
    for i in range(4):
        start_row = i * chunk_size
        end_row = (i + 1) * chunk_size if i < 3 else num_rows  # Include all remaining rows in the last part

        chunk = df.iloc[start_row:end_row]
        output_file = f"{output_path}/postings_part_{i + 1}.xlsx"
        chunk.to_excel(output_file, index=False)

        print(f"Part {i + 1} saved as {output_file}.")

except Exception as e:
    print("An error occurred. Error details are below:")
    import traceback
    traceback.print_exc()

Part 1 saved as C:\Users\Sarah\Code\ProyectoABD\linkedindata/postings_part_1.xlsx.
Part 2 saved as C:\Users\Sarah\Code\ProyectoABD\linkedindata/postings_part_2.xlsx.
Part 3 saved as C:\Users\Sarah\Code\ProyectoABD\linkedindata/postings_part_3.xlsx.
Part 4 saved as C:\Users\Sarah\Code\ProyectoABD\linkedindata/postings_part_4.xlsx.

In [8]:
# File paths for the parts
file_paths = [
    r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings_part_1.xlsx",
    r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings_part_2.xlsx",
    r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings_part_3.xlsx",
    r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\postings_part_4.xlsx"
]

# Combine all parts into a single DataFrame
combined_df = pd.concat([pd.read_excel(fp) for fp in file_paths], ignore_index=True)

# Save the combined file as a new Excel file
output_file = r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\combined_postings.xlsx"
combined_df.to_excel(output_file, index=False)

print(f"Combined file has been saved as {output_file}.")

Combined file has been saved as C:\Users\Sarah\Code\ProyectoABD\linkedindata\combined_postings.xlsx.

In [4]:
# Path of the combined file
file_path = r"C:\Users\Sarah\Code\ProyectoABD\linkedindata\combined_postings.xlsx"

# Read the Excel file
df = pd.read_excel(file_path)

# General information
print("1. Total Number of Rows:", len(df))
print("2. Total Number of Columns:", len(df.columns))
print("3. Column Names:")
print(df.columns.tolist())
print("\n4. Data Types:")
print(df.dtypes)
print("\n5. First 5 Rows:")
print(df.head())
print("\n6. Number of Missing Values:")
print(df.isnull().sum())
print("\n7. Summary Statistics for Numerical Columns:")
print(df.describe())

1. Total Number of Rows: 123849
2. Total Number of Columns: 31
3. Column Names:
['job_id', 'company_name', 'title', 'description', 'max_salary', 'pay_period', 'location', 'company_id', 'views', 'med_salary', 'min_salary', 'formatted_work_type', 'applies', 'original_listed_time', 'remote_allowed', 'job_posting_url', 'application_url', 'application_type', 'expiry', 'closed_time', 'formatted_experience_level', 'skills_desc', 'listed_time', 'posting_domain', 'sponsored', 'work_type', 'currency', 'compensation_type', 'normalized_salary', 'zip_code', 'fips']

4. Data Types:
job_id                          int64
company_name                   object
title                          object
description                    object
max_salary                    float64
pay_period                     object
location                       object
company_id                    float64
views                         float64
med_salary                    float64
min_salary                    float64
formatted_work_type            object
applies                       float64
original_listed_time            int64
remote_allowed                float64
job_posting_url                object
application_url                object
application_type               object
expiry                          int64
closed_time                   float64
formatted_experience_level     object
skills_desc                    object
listed_time                     int64
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
normalized_salary             float64
zip_code                      float64
fips                          float64
dtype: object

5. First 5 Rows:
     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...
1   Fort Collins, CO         NaN    1.0         NaN  ...
2     Cincinnati, OH  64896719.0    8.0         NaN  ...
3  New Hyde Park, NY    766262.0   16.0         NaN  ...
4     Burlington, IA         NaN    3.0         NaN  ...

                                         skills_desc    listed_time  \
0  Requirements: We are seeking a College or Grad...  1713397508000
1                                                NaN  1712857887000
2  We are currently accepting resumes for FOH - A...  1713277614000
3  This position requires a baseline understandin...  1712895812000
4                                                NaN  1713451943000

   posting_domain  sponsored  work_type currency compensation_type  \
0             NaN          0  FULL_TIME      USD       BASE_SALARY
1             NaN          0  FULL_TIME      USD       BASE_SALARY
2             NaN          0  FULL_TIME      USD       BASE_SALARY
3             NaN          0  FULL_TIME      USD       BASE_SALARY
4             NaN          0  FULL_TIME      USD       BASE_SALARY

  normalized_salary  zip_code     fips
0           38480.0    8540.0  34021.0
1           83200.0   80521.0   8069.0
2           55000.0   45202.0  39061.0
3          157500.0   11040.0  36059.0
4           70000.0   52601.0  19057.0

[5 rows x 31 columns]

6. Number of Missing Values:
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

7. Summary Statistics for Numerical Columns:
             job_id    max_salary    company_id          views     med_salary  \
count  1.238490e+05  2.979300e+04  1.221320e+05  122160.000000    6280.000000
mean   3.896402e+09  9.193942e+04  1.220401e+07      14.618247   22015.619876
std    8.404355e+07  7.011101e+05  2.554143e+07      85.903598   52255.873846
min    9.217160e+05  1.000000e+00  1.009000e+03       1.000000       0.000000
25%    3.894587e+09  4.828000e+01  1.435200e+04       3.000000      18.940000
50%    3.901998e+09  8.000000e+04  2.269650e+05       4.000000      25.500000
75%    3.904707e+09  1.400000e+05  8.047188e+06       8.000000    2510.500000
max    3.906267e+09  1.200000e+08  1.034730e+08    9975.000000  750000.000000

         min_salary       applies  original_listed_time  remote_allowed  \
count  2.979300e+04  23320.000000          1.238490e+05         15246.0
mean   6.491085e+04     10.591981          1.713152e+12             1.0
std    4.959738e+05     29.047395          4.848209e+08             0.0
min    1.000000e+00      1.000000          1.701811e+12             1.0
25%    3.700000e+01      1.000000          1.712863e+12             1.0
50%    6.000000e+04      3.000000          1.713395e+12             1.0
75%    1.000000e+05      8.000000          1.713478e+12             1.0
max    8.500000e+07    967.000000          1.713573e+12             1.0

             expiry   closed_time   listed_time  sponsored  normalized_salary  \
count  1.238490e+05  1.073000e+03  1.238490e+05   123849.0       3.607300e+04
mean   1.716213e+12  1.712928e+12  1.713204e+12        0.0       2.053270e+05
std    2.321394e+09  3.622893e+08  3.989122e+08        0.0       5.097627e+06
min    1.712903e+12  1.712346e+12  1.711317e+12        0.0       0.000000e+00
25%    1.715481e+12  1.712670e+12  1.712886e+12        0.0       5.200000e+04
50%    1.716042e+12  1.712670e+12  1.713408e+12        0.0       8.150000e+04
75%    1.716088e+12  1.713283e+12  1.713484e+12        0.0       1.250000e+05
max    1.729125e+12  1.713562e+12  1.713573e+12        0.0       5.356000e+08

            zip_code          fips
count  102977.000000  96434.000000
mean    50400.491887  28713.879887
std     30252.232515  16015.929825
min      1001.000000   1003.000000
25%     24112.000000  13121.000000
50%     48059.000000  29183.000000
75%     78201.000000  42077.000000
max     99901.000000  56045.000000

In [21]:
cols = df.columns
atr_list = cols.tolist()

for atr in atr_list:
    print(atr)

job_id
company_name
title
description
max_salary
pay_period
location
company_id
views
med_salary
min_salary
formatted_work_type
applies
original_listed_time
remote_allowed
job_posting_url
application_url
application_type
expiry
closed_time
formatted_experience_level
skills_desc
listed_time
posting_domain
sponsored
work_type
currency
compensation_type
normalized_salary
zip_code
fips

In [ ]:
irrelevant = ['job_posting_url',
 'application_url','posting_domain','fips']

In [ ]:
df.drop(irrelevant, axis=1, inplace=True)

array(['ComplexOnsiteApply', 'SimpleOnsiteApply', 'OffsiteApply',
       'UnknownApply'], dtype=object)

In [ ]:

num_cols = df.select_dtypes([np.number]).columns
numeric_cols = num_cols.tolist()

not_nums = ['job_id', 'company_id','remote_allowed','sponsored','fips','zip_code']
for item in not_nums:
    numeric_cols.remove(item)

for col in numeric_cols:
    print (col)

max_salary
views
med_salary
min_salary
applies
original_listed_time
expiry
closed_time
listed_time
normalized_salary